.view__apps{
    flex:0.70;
    margin-left: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.applications{
    display:flex;
    justify-content:space-between;
}
.view__apps_all{
    margin:10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.check{
    color:green;
}
.clear{
    color:red
}